.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80%;
}

.title {
    text-align: center;
    margin: 10px 0 20px 0;
}

.alignText {
    text-align: center;
}

.postContent {
    margin: 20px 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.fileButtonContainer {
    display: flex;
    flex-direction: row;
}

#view-button {
    margin-right: 10px;
}